@font-face {
  font-family: "Kalam";
  src: url(../FONTS/Kalam/Kalam-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Kalam";
  src: url(../FONTS/Kalam/Kalam-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Nunito Sans";
  src: url(../FONTS/NunitoSans/NunitoSans-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Nunito Sans";
  src: url(../FONTS/NunitoSans/NunitoSans-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Nunito Sans";
  src: url(../FONTS/NunitoSans/NunitoSans-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Montserrat";
  src: url(../FONTS/Montserrat/Montserrat-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url(../FONTS/Montserrat/Montserrat-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Montserrat";
  src: url(../FONTS/Montserrat/Montserrat-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Montserrat";
  src: url(../FONTS/Montserrat/Montserrat-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Montserrat";
  src: url(../FONTS/Montserrat/Montserrat-ExtraBold.ttf);
  font-weight: 800;
}
@font-face {
  font-family: "Montserrat";
  src: url(../FONTS/Montserrat/Montserrat-Black.ttf);
  font-weight: 900;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.logo {
  width: 12.375rem;
}

.wrapper_formulario {
  background: rgba(12, 117, 121, 0.77);
}
.wrapper_formulario .titulo_modelo_dois {
  text-align: center;
  padding-top: 3rem;
}
.wrapper_formulario .titulo_modelo_dois h3::after {
  content: "";
  border-bottom: 5px solid #000;
  display: block;
  width: 10rem;
  max-width: 90%;
  margin: 0 auto;
  margin-top: 1rem;
  border-radius: 1rem;
}
.wrapper_formulario .titulo_modelo_dois h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
}
.wrapper_formulario .titulo_modelo_dois h3 span {
  font-family: Segoe Print;
  color: #FFE01B;
}
.wrapper_formulario form {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.wrapper_formulario form .form_content {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  width: 100%;
}
.wrapper_formulario form .form_content .form_box {
  width: 50%;
}
.wrapper_formulario form .form_content .form_box div {
  text-align: left;
  position: relative;
}
.wrapper_formulario form .form_content .form_box div label {
  position: absolute;
  top: 8px;
  font-size: 15px;
  margin: 10px;
  padding: 3px 5px;
  -webkit-transition: top 0.2s ease-in-out, font-size 0.2s ease-in-out;
  transition: top 0.2s ease-in-out, font-size 0.2s ease-in-out;
  background: #449598;
  color: #FFF;
}
.wrapper_formulario form .form_content .form_box div .active {
  top: -15px;
  font-size: 15px;
  color: #FFE01B;
}
.wrapper_formulario form .form_content input {
  width: 90%;
  padding: 0.8rem 0.6rem;
  margin: 0.4rem 0rem;
  border-radius: 0.3rem;
  outline: none;
  border: 2px solid #FFF;
  background: transparent;
  transition: all 0.2s ease;
  color: #FFF;
}
.wrapper_formulario form .form_content input:hover, .wrapper_formulario form .form_content input:focus {
  outline: none;
  border-color: #FFE01B;
  transition: all 0.2s ease;
}
.wrapper_formulario form .form_content textarea {
  width: 90%;
  height: 4.59rem;
  padding: 0.8rem 0.6rem;
  margin: 0.4rem 0rem;
  border-radius: 0.3rem;
  outline: none;
  border: 2px solid #FFF;
  background: transparent;
  transition: all 0.2s ease;
  color: #FFF;
}
.wrapper_formulario form .form_content textarea:hover, .wrapper_formulario form .form_content textarea:focus {
  outline: none;
  border-color: #FFE01B;
  transition: all 0.2s ease;
}
.wrapper_formulario form .form_content ::placeholder {
  color: #FFF;
  font-family: Segoe UI;
}
.wrapper_formulario form .form_content_button {
  margin-bottom: 2rem;
}
.wrapper_formulario form .form_content_button input[type=submit] {
  margin-top: 0.5rem;
  padding: 1rem 4rem;
  display: flex;
  justify-content: center;
  background-color: #FFF;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.2s ease;
  color: #000;
}
.wrapper_formulario form .form_content_button input[type=submit]:hover {
  background-color: #FFE01B;
  box-shadow: 0px 0px 12px 0px #FFE500;
  transition: all 0.2s ease;
  color: #000;
}

nav ul li a::after {
  content: "";
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #FFE01B;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
  border-radius: 1rem;
}

nav ul li a:hover::after {
  width: 100%;
  left: 0;
}

.wrapper_cabecalho .background_banner .banner .menu .icones_redes_sociais .icones a:hover {
  background: #FFE01B;
  transition: all 0.2s ease;
}

.wrapper_cabecalho .background_banner .banner .menu .icones_redes_sociais .icones a:hover path {
  fill: #000;
  transition: all 0.2s ease;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

.wrapper_cabecalho {
  background-image: url("../IMG/Portfolio/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.wrapper_cabecalho .background_banner {
  background-color: rgba(0, 0, 0, 0.77);
  height: 100%;
}
.wrapper_cabecalho .background_banner .banner {
  background-color: rgba(12, 117, 121, 0.77);
}
.wrapper_cabecalho .background_banner .banner .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper_cabecalho .background_banner .banner .menu nav ul {
  display: flex;
}
.wrapper_cabecalho .background_banner .banner .menu nav ul li a {
  text-decoration: none;
  color: #FFF;
  font-size: 0.8rem;
  text-transform: uppercase;
  position: relative;
  padding: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.25rem;
}
.wrapper_cabecalho .background_banner .banner .menu .icones_redes_sociais {
  display: none;
}
.wrapper_cabecalho .background_banner .banner .menu .icones_redes_sociais p {
  font-family: "Kalam";
  font-weight: bold;
  color: #FFF;
}
.wrapper_cabecalho .background_banner .banner .menu .icones_redes_sociais .icones a {
  text-decoration: none;
  background: #449598;
  padding: 17px 15px 10px 15px;
  border-radius: 50%;
  margin: 0.5rem;
  transition: all 0.2s ease;
}
.wrapper_cabecalho .background_banner .banner .menu .icones_redes_sociais .icones a svg {
  width: 20px;
  height: 20px;
}
.wrapper_cabecalho .background_banner .banner .menu .icones_redes_sociais .icones a path {
  fill: #FFE01B;
  transition: all 0.2s ease;
}
.wrapper_cabecalho .background_banner .titulo_modelo {
  text-align: center;
  padding: 8rem 0rem 2rem;
  background-color: rgba(12, 117, 121, 0.77);
}
.wrapper_cabecalho .background_banner .titulo_modelo .wrapper h2 {
  font-size: 4rem;
  font-family: "Montserrat";
  color: #FFE01B;
  text-transform: uppercase;
  font-weight: 900;
}
.wrapper_cabecalho .background_banner .titulo_modelo .wrapper h2 span {
  display: block;
  font-family: "Montserrat";
  color: #FFF;
}
.wrapper_cabecalho .background_banner .titulo_modelo .wrapper h2::after {
  content: "";
  border-bottom: 2px solid #ffe01b;
  width: 20%;
  display: block;
  margin: 0 auto;
  padding-top: 2.5rem;
}
.wrapper_cabecalho .background_banner .rodape_cabecalho {
  background-color: rgba(12, 117, 121, 0.77);
}
.wrapper_cabecalho .background_banner .rodape_cabecalho .wrapper {
  padding: 4rem 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65%;
  flex-flow: column;
}
.wrapper_cabecalho .background_banner .rodape_cabecalho .wrapper div {
  color: #FFF;
  padding: 2rem;
}
.wrapper_cabecalho .background_banner .rodape_cabecalho .wrapper div p {
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.8rem;
}
.wrapper_cabecalho .background_banner .rodape_cabecalho .wrapper div p span {
  color: #FFE01B;
}
.wrapper_cabecalho .background_banner .rodape_cabecalho .wrapper .rodape_cabecalho_texto {
  display: flex;
  align-items: center;
  padding: 0.8rem 2rem;
}
.wrapper_cabecalho .background_banner .rodape_cabecalho .wrapper .rodape_cabecalho_texto figure {
  padding-right: 1rem;
}
.wrapper_cabecalho .background_banner .rodape_cabecalho .wrapper .rodape_cabecalho_texto figure svg {
  height: 2.5rem;
  width: 2.5rem;
}
.wrapper_cabecalho .background_banner .rodape_cabecalho .wrapper .rodape_cabecalho_texto figure svg path {
  fill: #FFE01B;
}
.wrapper_cabecalho .background_banner .rodape_cabecalho .wrapper .rodape_cabecalho_texto p {
  text-align: left;
  font-size: 1.5rem;
  font-weight: normal;
  padding: 0.5rem 0;
}

.wrapper {
  max-width: 90%;
  margin: 0 auto;
}

.wrapper_servicos {
  background: #FFF;
}
.wrapper_servicos .titulo_modelo_dois {
  text-align: center;
  padding: 3rem 0rem;
}
.wrapper_servicos .titulo_modelo_dois h3 {
  font-size: 3rem;
  font-family: "Montserrat";
  font-weight: 100;
}
.wrapper_servicos .titulo_modelo_dois h3 span {
  color: #449598;
}
.wrapper_servicos .wrapper-grid {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 4rem 4rem;
  padding-bottom: 5rem;
  justify-content: center;
}
.wrapper_servicos .wrapper-grid div {
  display: grid;
  grid-template-rows: 100px 70px 155px;
  align-items: center;
  background: #FFF;
}
.wrapper_servicos .wrapper-grid div figure {
  justify-self: flex-start;
}
.wrapper_servicos .wrapper-grid div #Layer_1 {
  height: 4rem;
  width: 4rem;
}
.wrapper_servicos .wrapper-grid div #Layer_1 rect {
  fill: #af9a16;
}
.wrapper_servicos .wrapper-grid div #Layer_1 path {
  fill: #af9a16;
}
.wrapper_servicos .wrapper-grid div #Layer_1 polygon {
  fill: #af9a16;
}
.wrapper_servicos .wrapper-grid .texto_titulo_servicos {
  font-size: 1.3rem;
  font-weight: 600;
  color: #449598;
  font-family: "Montserrat";
  align-self: flex-start;
  text-transform: uppercase;
}
.wrapper_servicos .wrapper-grid .texto_titulo_servicos::after {
  content: "";
  border-bottom: 5px solid #449598;
  display: block;
  padding-top: 0.8rem;
  width: 15%;
}
.wrapper_servicos .wrapper-grid .texto_servicos {
  font-family: "Nunito Sans";
  font-size: 0.9rem;
  line-height: 1.5625rem;
  color: #000;
  align-self: flex-start;
  font-weight: 600;
}

.wrapper_orcamento_projeto {
  background: url("../IMG/Background/planta.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.wrapper_orcamento_projeto .background_banner {
  background: rgba(0, 0, 0, 0.77);
}
.wrapper_orcamento_projeto .background_banner .background_banner_secundario {
  background: rgba(12, 117, 121, 0.77);
  height: 100%;
}
.wrapper_orcamento_projeto .background_banner .background_banner_secundario .titulo_modelo_dois {
  text-align: center;
  padding-top: 5rem;
}
.wrapper_orcamento_projeto .background_banner .background_banner_secundario .titulo_modelo_dois h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
  color: #FFF;
  line-height: 2.3rem;
}
.wrapper_orcamento_projeto .background_banner .background_banner_secundario .titulo_modelo_dois h3 span {
  font-family: Segoe Print;
  color: #FFE01B;
  display: block;
}
.wrapper_orcamento_projeto .background_banner .background_banner_secundario .orcamento_projeto_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0rem 5rem 0rem;
}
.wrapper_orcamento_projeto .background_banner .background_banner_secundario .orcamento_projeto_content div {
  width: 50%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.wrapper_orcamento_projeto .background_banner .background_banner_secundario .orcamento_projeto_content div h2 {
  color: #FFF;
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
}
.wrapper_orcamento_projeto .background_banner .background_banner_secundario .orcamento_projeto_content div p {
  color: #FFF;
  font-size: 1.5rem;
  text-align: center;
}
.wrapper_orcamento_projeto .background_banner .background_banner_secundario .orcamento_projeto_content div figure {
  border-radius: 5.5rem;
  padding: 3rem 3.3rem;
  box-shadow: 3px 3px 6px #FFE01B;
  margin-bottom: 2rem;
  background: #FFF;
  width: fit-content;
}
.wrapper_orcamento_projeto .background_banner .background_banner_secundario .orcamento_projeto_content div figure img {
  height: 5rem;
  width: 5rem;
}

.titulo_carrousel .titulo_modelo_dois {
  text-align: center;
  padding: 5rem 0;
  text-transform: uppercase;
}
.titulo_carrousel .titulo_modelo_dois h3::after {
  content: "";
  border-bottom: 5px solid #000;
  display: block;
  width: 10rem;
  max-width: 90%;
  margin: 0 auto;
  margin-top: 1rem;
  border-radius: 1rem;
}
.titulo_carrousel .titulo_modelo_dois h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
  color: #000;
  line-height: 2.3rem;
}
.titulo_carrousel .titulo_modelo_dois h3 span {
  font-family: Segoe Print;
  color: #FFE01B;
  display: block;
}

.wrapper_carousel {
  background: rgba(12, 117, 121, 0.77);
}
.wrapper_carousel .wrapper {
  display: flex;
  justify-content: center;
  padding: 1rem 26rem;
}
.wrapper_carousel .wrapper .glider-contain {
  margin-top: 15px;
}
.wrapper_carousel .wrapper .glider-contain .glider div {
  text-align: center;
}
.wrapper_carousel .wrapper .glider-contain .glider div img {
  max-width: 100%;
  height: auto;
}
.wrapper_carousel .wrapper .glider-contain .glider div p {
  margin-top: 25px;
}
.wrapper_carousel .wrapper .glider-contain .glider-prev svg, .wrapper_carousel .wrapper .glider-contain .glider-next svg {
  fill: #c7c725a6;
  height: 40px;
  width: 40px;
}
.wrapper_carousel .wrapper .glider-contain .glider-prev:hover, .wrapper_carousel .wrapper .glider-contain .glider-next:hover {
  color: #FFE01B;
}
.wrapper_carousel .wrapper .glider-contain #dots {
  margin-top: 15px;
}
.wrapper_carousel .wrapper .glider-contain #dots button {
  margin: 10px;
}

.wrapper_lamp {
  padding: 5rem;
}
.wrapper_lamp .wrapper {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.wrapper_lamp .wrapper .titulo_modelo_tres {
  color: #FFE01B;
  text-transform: uppercase;
  font-weight: bold;
  width: 80%;
  margin: 0 auto;
}
.wrapper_lamp .wrapper .titulo_modelo_tres h3 {
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
  margin-bottom: 0.6rem;
}
.wrapper_lamp .wrapper .titulo_modelo_tres #sub_titulo {
  font-family: Segoe Print;
  font-size: 2rem;
  text-align: right;
}
.wrapper_lamp .wrapper p {
  width: 70%;
  margin: 2rem 2rem 0rem 2rem;
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.5rem;
}

.wrapper_rodape {
  background-color: rgba(12, 117, 121, 0.77);
}
.wrapper_rodape .background_rodape {
  background-color: rgba(0, 0, 0, 0.64);
}
.wrapper_rodape .background_rodape .grid_rodape {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}
.wrapper_rodape .background_rodape .grid_rodape .rodape_1 {
  padding: 4rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  color: #FFF;
  text-align: center;
}
.wrapper_rodape .background_rodape .grid_rodape .rodape_1 p {
  margin-top: 1rem;
}
.wrapper_rodape .background_rodape .grid_rodape .rodape_2 {
  padding: 4rem 2rem;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;
  color: #FFF;
  text-align: center;
}
.wrapper_rodape .background_rodape .grid_rodape .rodape_2 div:first-child {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.wrapper_rodape .background_rodape .grid_rodape .rodape_2 div:first-child p {
  margin-left: 0.5rem;
}
.wrapper_rodape .background_rodape .grid_rodape .rodape_2 div:last-child {
  display: flex;
  align-items: center;
}
.wrapper_rodape .background_rodape .grid_rodape .rodape_2 div:last-child div {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
}
.wrapper_rodape .background_rodape .grid_rodape .rodape_2 div:last-child div p {
  margin-left: 0.5rem;
}
.wrapper_rodape .background_rodape .grid_rodape .rodape_3 {
  padding: 4rem 2rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  color: #FFF;
  text-align: center;
}
.wrapper_rodape .background_rodape .grid_rodape .rodape_3 a {
  text-decoration: none;
}
.wrapper_rodape .background_rodape .grid_rodape .rodape_3 div:last-child span {
  display: block;
}
.wrapper_rodape .background_rodape .grid_rodape svg {
  width: 30px;
  height: 30px;
}
.wrapper_rodape .background_rodape .grid_rodape svg path {
  fill: #FFE01B;
}

.glider, .glider-contain {
  margin: 0 auto;
  position: relative;
}

.glider, .glider-track {
  transform: translateZ(0);
}

.glider-dot, .glider-next, .glider-prev {
  border: 0;
  padding: 0;
  user-select: none;
  outline: 0;
}

.glider-contain {
  width: 100%;
}

.glider {
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}

.glider-track {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  z-index: 1;
}

.glider.draggable {
  user-select: none;
  cursor: -webkit-grab;
  cursor: grab;
}

.glider.draggable .glider-slide img {
  user-select: none;
  pointer-events: none;
}

.glider.drag {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.glider-slide {
  user-select: none;
  justify-content: center;
  align-content: center;
  width: 100%;
  min-width: 150px;
}

.glider-slide img {
  max-width: 100%;
}

.glider::-webkit-scrollbar {
  opacity: 0;
  height: 0;
}

.glider-next, .glider-prev {
  position: absolute;
  background: 0 0;
  z-index: 2;
  font-size: 40px;
  text-decoration: none;
  left: -23px;
  top: 40%;
  cursor: pointer;
  color: #666;
  opacity: 1;
  line-height: 1;
  transition: opacity 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67), color 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.glider-next:focus, .glider-next:hover, .glider-prev:focus, .glider-prev:hover {
  color: #ccc;
}

.glider-next {
  right: -23px;
  left: auto;
}

.glider-next.disabled, .glider-prev.disabled {
  opacity: 0.25;
  color: #666;
  cursor: default;
}

.glider-hide {
  opacity: 0;
}

.glider-dots {
  user-select: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}

.glider-dot {
  display: block;
  cursor: pointer;
  color: #ccc;
  border-radius: 999px;
  background: #ccc;
  width: 12px;
  height: 12px;
  margin: 7px;
}

.glider-dot:focus, .glider-dot:hover {
  background: #ddd;
}

.glider-dot.active {
  background: #a89cc8;
}

@media (max-width: 36em) {
  .glider::-webkit-scrollbar {
    opacity: 1;
    -webkit-appearance: none;
    width: 7px;
    height: 3px;
  }

  .glider::-webkit-scrollbar-thumb {
    opacity: 1;
    border-radius: 99px;
    background-color: rgba(156, 156, 156, 0.25);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.25);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.25);
  }
}
@media (max-width: 425px) {
  .wrapper_cabecalho .background_banner .banner .menu nav, .wrapper_cabecalho .background_banner .banner .menu .icones_redes_sociais {
    display: none;
  }
  .wrapper_cabecalho .background_banner .titulo_modelo {
    margin: 4rem 0rem;
  }
  .wrapper_cabecalho .background_banner .titulo_modelo .wrapper {
    max-width: 100%;
  }
  .wrapper_cabecalho .background_banner .titulo_modelo .wrapper div h2 {
    font-size: 1.2rem;
  }
  .wrapper_cabecalho .background_banner .titulo_modelo .wrapper div h2 span {
    margin-top: 0.2rem;
  }
  .wrapper_cabecalho .background_banner .titulo_modelo .wrapper div h2::after {
    border-bottom: 3px solid #FFF;
    width: 5rem;
    margin-top: 0.4rem;
  }
  .wrapper_cabecalho .background_banner .rodape_cabecalho .wrapper {
    flex-flow: column;
    max-width: 80%;
  }
  .wrapper_cabecalho .background_banner .rodape_cabecalho .wrapper div {
    width: 100%;
  }
  .wrapper_cabecalho .background_banner .rodape_cabecalho .wrapper div h3 {
    font-size: 1rem;
    line-height: 1.1rem;
  }
  .wrapper_cabecalho .background_banner .rodape_cabecalho .wrapper div p {
    margin-top: 0.8rem;
    text-align: justify;
    font-size: 1rem;
  }

  .wrapper_servicos .titulo_modelo_dois h3::after {
    width: 5rem;
  }
  .wrapper_servicos .titulo_modelo_dois h3 {
    font-size: 1.5rem;
    max-width: 100%;
  }
  .wrapper_servicos .wrapper-grid {
    grid-template-columns: 1fr;
  }
  .wrapper_servicos .wrapper-grid div figure {
    border-radius: 7.5rem;
    padding: 2.5rem;
    box-shadow: 3px 3px 6px #FFE01B;
    margin-bottom: 2rem;
  }
  .wrapper_servicos .wrapper-grid div figure #Capa_1, .wrapper_servicos .wrapper-grid div figure #Layer_1 {
    height: 7rem;
    width: 7rem;
  }
  .wrapper_servicos .wrapper-grid div p {
    font-size: 1.3rem;
  }

  .wrapper_orcamento_projeto .background_banner .titulo_modelo_dois {
    padding-top: 3rem;
  }
  .wrapper_orcamento_projeto .background_banner .titulo_modelo_dois h3::after {
    width: 5rem;
    max-width: 100%;
    margin-top: 0.5rem;
  }
  .wrapper_orcamento_projeto .background_banner .titulo_modelo_dois h3 {
    font-size: 1.2rem;
    color: #FFF;
    line-height: 1.3rem;
  }
  .wrapper_orcamento_projeto .background_banner .titulo_modelo_dois h3 span {
    font-family: Segoe Print;
    color: #FFE01B;
    display: block;
  }
}

/*# sourceMappingURL=estilos.css.map */
