// CABECALHO ====================

.wrapper_cabecalho {
    background-image: url("../IMG/Portfolio/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    & .background_banner {
        background-color: rgba(0, 0, 0, 0.77);
        height: 100%;

        & .banner {
            background-color: rgba(12, 117, 121, 0.77);

            & .menu {
                display: flex;
                justify-content: space-between;
                align-items: center;

                & nav ul {
                    display: flex;

                    & li {
                        & a {
                            text-decoration: none;
                            color: $font-color-secundaria;
                            font-size: 0.8rem;
                            text-transform: uppercase;
                            position: relative;
                            padding: 0.8rem;
                            font-weight: 700;
                            letter-spacing: 0.25rem;
                        }
                    }
                }
                & .icones_redes_sociais {
                    display: none;
                    // display: flex;
                    // align-items: center;

                    & p {
                        font-family: "Kalam";
                        font-weight: bold;
                        color: $font-color-secundaria;
                    }
                    
                    & .icones {
                        & a {
                        text-decoration: none;
                        background: #449598;
                        padding: 17px 15px 10px 15px;
                        border-radius: 50%;
                        margin: .5rem;
                        transition: all .2s ease;
                            
                            & svg {
                                width: 20px;
                                height: 20px;
                            }

                            & path {
                                fill: $font-color;
                                transition: all .2s ease;
                            }
                        }
                    }   
                }
            }
        }

        & .titulo_modelo {
            text-align: center;
            padding: 8rem 0rem 2rem;
            background-color: rgba(12, 117, 121, 0.77);

            & .wrapper h2 {
               font-size: 4rem;
               font-family: "Montserrat";
               color: $font-color;
               text-transform: uppercase;
               font-weight: 900;

               & span {
                   display: block;
                   font-family:"Montserrat";
                   color: $font-color-secundaria;;
               }
            }

            & .wrapper h2::after {
                content: "";
                border-bottom: 2px solid #ffe01b;
                width: 20%;
                display: block;
                margin: 0 auto;
                padding-top: 2.5rem;
            }
        }

        & .rodape_cabecalho {
        background-color: rgba(12, 117, 121, 0.77);

           & .wrapper {
                padding: 4rem 0rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 65%;
                flex-flow: column;

                & div {
                    color: $font-color-secundaria;
                    padding: 2rem;

                    & p{
                        font-size: 1.5rem;
                        text-align: center;
                        line-height: 1.8rem;

                        & span {
                            color: $font-color;
                        }
                    }
                }
                
                & .rodape_cabecalho_texto {
                    display: flex;
                    align-items: center;
                    padding: .8rem 2rem;

                    & figure {
                        padding-right: 1rem;

                        & svg {
                            height: 2.5rem;
                            width: 2.5rem;

                            & path {
                                fill: $font-color;
                            }
                        }
                    }

                    & p {
                        text-align: left;
                        font-size: 1.5rem;
                        font-weight: normal;
                        padding: .5rem 0;
                    }
                }
            }
        }
    }
}

// FIM CABECALHO ====================


