// MAIN ====================
.servicos {
    background: $font-color-secundaria;

    & .servicos__titulo {
        text-align: center;
        padding: 3rem 0rem;

        & h3 {
            // font-size: 3rem;
            font-family: "Montserrat";
            font-weight: 100;

            & span {
                color: #449598;
            }
        }
    }

    & .servicos__grid {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        grid-gap: 4rem 4rem;
        padding-bottom: 5rem;
        justify-content: center;

        & div {
            display: grid;
            grid-template-rows: 100px 70px 155px;
            align-items: center;
            background: $font-color-secundaria;

            & figure {
                justify-self: flex-start;
                }

                & #Layer_1 {
                    height: 4rem;
                    width: 4rem;

                    & rect {
                        // fill: $font-color-terceira;
                        fill: #0a5b5e;
                    }

                    & path {
                        // fill: $font-color-terceira;
                        fill: #0a5b5e;
                    }

                    & polygon {
                        fill: #0a5b5e;
                    }
                }
            }

            & .servicos__texto {
                font-size: 1.3rem;
                font-weight: 600;
                color: #449598;
                font-family: "Montserrat";
                align-self: flex-start;
                text-transform: uppercase;
            }

            & .servicos__texto::after {
                content: '';
                border-bottom: 5px solid #449598;
                display: block;
                padding-top: 0.8rem;
                width: 15%;
            }

            & .servicos__texto--paragrafo {
                font-family: "Nunito Sans";
                font-size: 0.9rem;
                line-height: 1.5625rem;
                color: $font-color-terceira;
                align-self: flex-start;
                font-weight: 600;
               
            }
        }
    }


.orcamento {
    display: flex;

    & .orcamento__imagem {
        width: 50%;
        background:#ffe500bf;
        clip-path: circle(107% at 0% 50%);
        shape-outside: circle(70% at 0% 50%) border-box;
    }

    & .orcamento__texto {
        width: 50%;
        display: flex;
        align-items: center;
        // clip-path: circle(157% at 147% 50%);
        // shape-outside: circle(50% at 0% 70%) border-box;
        // background: #0a5b5e;

        & .orcamento__texto__conteudo {

            & h3 {
                font-family: "Montserrat";
                font-weight: 100;
                text-align: center;
                margin-bottom: 3rem;

                & span {
                    color: #449598;
                }
            }

            & h2 {
                color: $font-color-terceira;
                margin-bottom: 1.5rem;
                font-size: 2.5rem;
                text-align: center;
            }

            & p {
                color: $font-color-terceira;
                font-size: 1.5rem;
                text-align: center;
                line-height: 1.8rem;
            }
        }
    }
}

// DIV titulo modelo dois ============

.projetos .projetos__titulo {
    text-align: center;
    padding: 5rem 0;
    text-transform: uppercase;

    & h3::after {
        content: "";
        border-bottom: 5px solid $font-color-terceira;
        display: block;
        width: 10rem;
        max-width: 90%;
        margin: 0 auto;
        margin-top: 1rem;
        border-radius: 1rem;
    }

    & h3 {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 2rem;
        color: $font-color-terceira;
        line-height: 2.3rem;

        & span {
            font-family: Segoe Print;
            color: $font-color;
            display: block;
        }
    }
}

.carousel {
    background: rgba(12, 117, 121, 0.77);

    & .wrapper {
        display: flex;
        justify-content: center;
        padding: 1rem 26rem;
        
        & .glider-contain {
            margin-top: 15px;

            & .glider {
                
                & div {
                    text-align: center;
                   
                    & img {
                        max-width: 100%;
                        height: auto;
                        }

                    & p {
                        margin-top: 25px;
                    }
                }
            }

            // & .glider-prev, .glider-next {
            //     color: #c7c725a6;
            // }

            & .glider-prev svg, .glider-next svg{
                fill: #c7c725a6;
                height: 40px;
                width: 40px;
            }

            & .glider-prev:hover, .glider-next:hover {
                color: $font-color;
            }

            & #dots {
                margin-top: 15px;

                & button {
                    margin: 10px;
                }
            }
        }
    }
}

.content {
    padding: 5rem;

    & .wrapper {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

        & .content__titulo {
            color: $font-color;
            text-transform: uppercase;
            font-weight: bold;
            width: 80%;
            margin: 0 auto;
            
            & h3 {
                font-size: 2rem;
                font-weight: bold;
                text-align: left;
                margin-bottom: 0.6rem;
            }

            & .titulos__modelo--subtitulo {
                font-family: Segoe Print;
                font-size: 2rem;
                text-align: right;
            }
        }

        p {
            width: 70%;
            margin: 2rem 2rem 0rem 2rem;
            font-size: 1.5rem;
            text-align: center;
            line-height: 1.5rem;
        }
    }
}

