.wrapper_rodape {
    background-color: rgba(12, 117, 121, 0.77);

    & .background_rodape {
        background-color: rgba(0, 0, 0, 0.64);

        & .grid_rodape {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 1rem;

            & section:first-child {
                padding: 4rem;
                display: flex;
                flex-flow: column;
                align-items: center;
                justify-content: center;
                color: $font-color-secundaria;
                text-align: center;

                & p {
                    margin-top: 1rem;
                }
            }
        }
    }
}