// Animação link menu

nav ul li a::after {
    content: "";
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    // background: rgb(255, 255, 255);
    background: $font-color;
    // box-shadow: 0 0 12px 0px $font-color;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    border-radius: 1rem;
}

nav ul li a:hover::after {
    width: 100%; 
    left: 0; 
}
// Fim animação link menu

// Animação icone cabecalho linkedin

.wrapper_cabecalho .background_banner .banner .menu .icones_redes_sociais .icones a:hover {
    background: $font-color;
    transition:  all .2s ease;
}

.wrapper_cabecalho .background_banner .banner .menu .icones_redes_sociais .icones a:hover path {
    fill: $font-color-terceira;
    transition: all .2s ease;
}