
@font-face {
    font-family: "Kalam";
    src: url(../FONTS/Kalam/Kalam-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Kalam";
    src: url(../FONTS/Kalam/Kalam-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Nunito Sans";
    src: url(../FONTS/NunitoSans/NunitoSans-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Nunito Sans";
    src: url(../FONTS/NunitoSans/NunitoSans-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: "Nunito Sans";
    src: url(../FONTS/NunitoSans/NunitoSans-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Montserrat";
    src: url(../FONTS/Montserrat/Montserrat-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat";
    src: url(../FONTS/Montserrat/Montserrat-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: "Montserrat";
    src: url(../FONTS/Montserrat/Montserrat-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "Montserrat";
    src: url(../FONTS/Montserrat/Montserrat-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Montserrat";
    src: url(../FONTS/Montserrat/Montserrat-ExtraBold.ttf);
    font-weight: 800;
}

@font-face {
    font-family: "Montserrat";
    src: url(../FONTS/Montserrat/Montserrat-Black.ttf);
    font-weight: 900;
}





