
@font-face {
    font-family: "Kalam";
    src: url(../FONTS/Kalam/Kalam-Regular.ttf);
}

@font-face {
    font-family: "Kalam";
    src: url(../FONTS/Kalam/Kalam-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Didact Gothic";
    src: url(../FONTS/DidactGothic/DidactGothic-Regular.ttf);
}

@font-face {
    font-family: "Montserrat";
    src: url(../FONTS/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: "Montserrat";
    src: url(../FONTS/Montserrat/Montserrat-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Montserrat";
    src: url(../FONTS/Montserrat/Montserrat-ExtraBold.ttf);
    font-weight: 800;
}

@font-face {
    font-family: "Montserrat";
    src: url(../FONTS/Montserrat/Montserrat-Black.ttf);
    font-weight: 900;
}





